<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    
    <div class="paper">
        <div class="float-left">
            <img class="icon" src="/images/web.svg" alt="web">
        </div>
        <div class="welcome">
            <spas class="welcome-font-big">
                < 고대의 웹사이트 > &nbsp; <span class="welcome-font-middle"><b>300</b></span>
            </spas>
        </div>
        <div class="paper-in">
            <p>
                팀 버너스리는 HTML을 최초로 만든 뛰어난 양자물리학자이자 최초의 웹 개발자입니다.<br>
                그는 1989년 글로벌 하이퍼텍스트 프로젝트를 제안하였고, 1990년 최초의 하이퍼텍스트 브라우저와 편집기를 개발하였으며 1991년에는 최초의 웹 페이지를 만들었습니다.<br>
                이후로도 여러 가지의 업적을 남겼으며 현재까지 차세대 웹 기술인 시맨틱 웹 기술 표준화에 힘을 쏟고 있는 중입니다.<br>
                <br>
                이 팀 버너스리가 만들었던 최초의 웹사이트에서 &lt;title&gt; 태그에 들어가있는 문장은 무엇일까요?<br>
                <br>
                Hint : &lt;title&gt; 태그는 웹브라우저 창(탭)의 제목 표시줄, 작업 표시줄에 표시되는 태그입니다.<br>
                <br>
                
                (주의 : 답칸에는 태그를 제외하여 기제하고, 영문의 소문자로만, 띄어쓰기는 언더바(_)로 기재하시기 바랍니다.)<br>
            </p>

            <form action="/problem/send/ancient" method="post">
                <input class="flag-input" name="answer" type="text" placeholder="answer" minlength="1" maxlength="500">
                <input class="flag-submit" type="submit">
            </form>
        </div>
    </div>

</body>
</html>
