<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<!-- 대한민국에서 가장 유명한 쉘은? -->
<!-- 몽쉘 -->

<body>
    <div class="header">
        <img class="logo" src="/images/logo.png">
        <div class="nav">
            <div class="nav-item">
                <a href="/">
                    메인
                </a>
            </div>
            <div class="nav-item">
                <a href="/notice">
                    공지
                </a>
            </div>
            <div class="nav-item">
                <a href="/challenge">
                    고등문제
                </a>
            </div>
            <div class="nav-item">
                <a href="/challenge-middle">
                    중등문제
                </a>
            </div>
            <div class="nav-item">
                <a href="/ranking">
                    순위
                </a>
            </div>
        </div>
    </div>

    <div id="challenge">

        <div class="welcome">
            <span class="welcome-font-big">
                문제
                <br>
            </span>
            <br/>
            <spas class="welcome-font-middle">
                -중학생-
                <br>
                <br>
                문제를 풀고 나온 Flag를 아래 칸에 입력하시면 점수를 얻습니다.
                <br>
                <br>
            </spas>
        </div>

        <form action="/problem" method="post">     <!-- flag를 확인하는 경로 -->
            <input class="flag-input" name="flag" type="text" placeholder="Flag" minlength="1" maxlength="100">    <!-- flag name -->
            <input class="flag-submit" type="submit">
            <br>
            <br>
        </form>

        <div class="challenge-set">

            <a href="/problem/get/whistle-blower" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/server.svg" alt="server">
                    <br>
                    <span class="challenge-title">내부고발자</span>
                    <hr>
                    <b>점수</b><br>
                    XX사는 '이것'이 심각한 문제를 일으킬 수 있다고 한다.
                </div>
            </a>

            <a href="/problem/get/zizzy-photo" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">야한사진</span>
                    <hr>
                    <b>점수</b><br>
                    소문에 의하면, 팀로그 부장이 야한 사진을 가지고 있다던데...
                </div>
            </a>

            <a href="/problem/get/key-number" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">열쇠번호 440</span>
                    <hr>
                    <b>점수</b><br>
                    어라? 내 열쇠가 몇 번이었지? 너 혹시, 내 열쇠가 몇 번이었는지 알고 있니?
                </div>
            </a>

            <a href="/problem/get/message-mind-controls" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">메시지 정신지배</span>
                    <hr>
                    <b>점수</b><br>
                    연결유지 패킷을 제어했을 때, 나타나는 응답은? "감사합니다!"
                </div>
            </a>

            <a href="/asdf.ejs">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">매일매일메일예방</span>
                    <hr>
                    <b>150</b><br>
                    메일의 발송자 정보가 DNS를 통해 위조되었다. 공격방식을 이해하고 예방해보자!
                </div>
            </a>

            <a href="/asdf.ejs">
                <div class="challenge-box">
                    <img class="icon" src="/images/web.svg" alt="web">
                    <br>
                    <span class="challenge-title">고대 웹사이트</span>
                    <hr>
                    <b>200</b><br>
                    고대 웹사이트를 찾아 모험을 떠나는 성훈이와 함께 세계 최초의 웹사이트를 찾아내고, 고대 문명이 기록된 문서의 제목을 알려주자!
                </div>
            </a>

            <a href="/asdf.ejs">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">시간없는 원격접속</span>
                    <hr>
                    <b>150</b><br>
                    성윤이는 친구가 없는 틈을 타 재미있는 계획을 세운다. 친구가 돌아오기전에 성윤이의 계획을 도와주자!
                </div>
            </a>

            <a href="/asdf.ejs">
                <div class="challenge-box">
                    <img class="icon" src="/images/server.svg" alt="server">
                    <br>
                    <span class="challenge-title">플래그 뿌립니다</span>
                    <hr>
                    <b>50</b><br>
                    플래그를 뿌리고 있다고? 드디어 팀로그가 미쳤나보다. 잠깐, 이거 뭔가 좀 이상한데...?
                </div>
            </a>

        </div>
    </div>

</body>

</html>