<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<!-- 쥐가 덫에 걸려 꼬리가 잘리면 뭐라고할까? -->
<!-- 무선마우스 -->

<body>
    <div class="header">
        <img class="logo" src="/images/logo.png">
        <div class="nav">
            <div class="nav-item">
                <a href="/">
                    메인
                </a>
            </div>
            <div class="nav-item">
                <a href="/notice">
                    공지
                </a>
            </div>
            <div class="nav-item">
                <a href="/challenge">
                    고등문제
                </a>
            </div>
            <div class="nav-item">
                <a href="/challenge-middle">
                    중등문제
                </a>
            </div>
            <div class="nav-item">
                <a href="/ranking">
                    순위
                </a>
            </div>
        </div>
    </div>

    <div id="challenge">

        <div class="welcome">
            <span class="welcome-font-big">
                문제
                <br>
            </span>
            <br/>
            <spas class="welcome-font-middle">
                -고등학생-
                <br>
                <br>
                <!-- 문제를 풀고 나온 Flag를 아래 칸에 입력하시면 점수를 얻습니다.
                <br>
                <br> -->
            </spas>
        </div>

        <!-- <form action="/flag" method="post">
            <input class="flag-input" name="flag" type="text" placeholder="Flag" minlength="1" maxlength="100">
            <input class="flag-submit" type="submit">
            <br>
            <br>
        </form> -->

        <div class="challenge-set">

            <a href="/problem/get/whistle-blower" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/server.svg" alt="server">
                    <br>
                    <span class="challenge-title">내부고발자</span>
                    <hr>
                    <b>점수</b><br>
                    XX사는 '이것'이 심각한 문제를 일으킬 수 있다고 한다.
                </div>
            </a>

        </div>
    </div>

</body>

</html>