<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css" />
</head>

<!-- 대한민국에서 가장 유명한 쉘은? -->
<!-- 몽쉘 -->

<body>
    <div class="header">
        <img class="logo" src="/images/logo.png">
        <div class="nav">
            <div class="nav-item">
                <a href="/">
                    메인
                </a>
            </div>
            <div class="nav-item">
                <a href="/notice">
                    공지
                </a>
            </div>
            <div class="nav-item">
                <a href="/challenge">
                    고등문제
                </a>
            </div>
            <div class="nav-item">
                <a href="/challenge-middle">
                    중등문제
                </a>
            </div>
            <div class="nav-item">
                <a href="/ranking">
                    순위
                </a>
            </div>
        </div>
    </div>

    <div id="challenge">

        <div class="welcome">
            <span class="welcome-font-big">
                문제
                <br>
            </span>
            <br/>
            <spas class="welcome-font-middle">
                -중학생-
                <br>
                <br>
                <!-- 문제를 풀고 나온 Flag를 아래 칸에 입력하시면 점수를 얻습니다.
                <br>
                <br> -->
            </spas>
        </div>

        <!-- <form action="/flag" method="post">
            <input class="flag-input" name="flag" type="text" placeholder="Flag" minlength="1" maxlength="100">
            <input class="flag-submit" type="submit">
            <br>
            <br>
        </form> -->

        <div class="challenge-set">

            <a href="/problem/get/whistle-blower" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/server.svg" alt="server">
                    <br>
                    <span class="challenge-title">내부고발자</span>
                    <hr>
                    <b>점수</b><br>
                    XX사는 '이것'이 심각한 문제를 일으킬 수 있다고 한다.
                </div>
            </a>

            <a href="/problem/get/zizzy-photo" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">야한사진</span>
                    <hr>
                    <b>점수</b><br>
                    소문에 의하면, 팀로그 부장이 야한 사진을 가지고 있다던데... 저쪽에서 성윤이가 나에게 손짓한다. 무슨 일이지?
                </div>
            </a>

            <a href="/problem/get/key-number" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">열쇠번호 440</span>
                    <hr>
                    <b>점수</b><br>
                    어라? 내 열쇠가 몇 번이었지? 너 혹시, 내 열쇠가 몇 번이었는지 알고 있니?
                </div>
            </a>

            <a href="/problem/get/message-mind-controls" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">메시지 정신지배</span>
                    <hr>
                    <b>점수</b><br>
                    연결유지 패킷을 제어해야 한다. 정신 지배를 사용하면 제어할 수 있지 않을까?
                </div>
            </a>

            <a href="/problem/get/perfect-handshake" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">완벽한 악수</span>
                    <hr>
                    <b>점수</b><br>
                    누군가 웹서버에 남자 두 명이 '완벽하게 악수하는 모습'을 찍었다. 이 사진에 걸려있는 보안은 어떤 구조일까?
                </div>
            </a>

            <a href="/problem/get/soprano-domain" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">소프라노 도메인</span>
                    <hr>
                    <b>점수</b><br>
                    도메인 나라에 오페라가 열렸어요! 어머나, 이 높고 아름다운 목소리의 주인공은 누굴까요?
                </div>
            </a>

            <a href="/problem/get/historically" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">역사적 고전속으로</span>
                    <hr>
                    <b>점수</b><br>
                    프로토콜은 주관성을 잃고, 역사적 원근법의 저편에서 고전이 되어 간다. 40년의 고전 프로토콜을 파헤쳐 보자.
                </div>
            </a>

            <a href="/problem/get/running-config" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">달리는-구성</span>
                    <hr>
                    <b>점수</b><br>
                    당신의 핑을 훔치고 달려가는 저 라우터를 쫓아 핑을 되찾아내자!
                </div>
            </a>

            <a href="/problem/get/camouflage" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">위장변장간장</span>
                    <hr>
                    <b>점수</b><br>
                    발송자를 위장하고, 변장하고, 간장하며 들어오는 메일 공격을 예방해보자!
                </div>
            </a>

            <a href="/problem/get/infiltration" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/network.svg" alt="network">
                    <br>
                    <span class="challenge-title">잠입작전</span>
                    <hr>
                    <b>점수</b><br>
                    검사버튼 삭제버튼 음흉한 계획을 세우고 친구 집에 잠입한 성윤이. 하지만 그에게 위기가 닥쳤다. 도움을 요청하는 성윤이를 모른척할 순 없다.
                </div>
            </a>

            <a href="/problem/get/ancient" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/web.svg" alt="web">
                    <br>
                    <span class="challenge-title">고대의 웹사이트</span>
                    <hr>
                    <b>점수</b><br>
                    고대의 웹사이트를 찾아 모험을 떠나는 성훈이를 위해, 세계 최초의 문서를 찾아내고 문서의 제목을 알려주자!
                </div>
            </a>

            <a href="/problem/get/muk-type" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/web.svg" alt="web">
                    <br>
                    <span class="challenge-title">질뻐기의 타입은?</span>
                    <hr>
                    <b>점수</b><br>
                    성훈는 질뻐기를 잡았다! 하지만 너무 옛날 포켓몬이라 질 뻐기어 타입이 뭔지 잘 모르겠다. 이 녀석은 무슨 타입일까?
                </div>
            </a>

            <a href="/problem/get/son-bom" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/server.svg" alt="server">
                    <br>
                    <span class="challenge-title">손을 보는 성윤</span>
                    <hr>
                    <b>점수</b><br>
                    뭐? 리눅스 수업? 우웩... 아무래도 컴퓨터에 손 좀 봐야겠는걸?
                </div>
            </a>

            <a href="/problem/get/observer" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/server.svg" alt="server">
                    <br>
                    <span class="challenge-title">감시자</span>
                    <hr>
                    <b>점수</b><br>
                    이 리눅스에 로그인한 순간부터 너는 내 손바닥 안이지!
                </div>
            </a>

            <a href="/problem/get/small-talk" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/server.svg" alt="server">
                    <br>
                    <span class="challenge-title">잡담</span>
                    <hr>
                    <b>점수</b><br>
                    리눅스에 로그인한 성훈이에게 메시지를 전달할 방법이 없을까?
                </div>
            </a>

            <a href="/problem/get/js-empire" target="_blank">
                <div class="challenge-box">
                    <img class="icon" src="/images/etc.svg" alt="etc">
                    <br>
                    <span class="challenge-title">JS제국</span>
                    <hr>
                    <b>점수</b><br>
                    충실했던 신하 성윤이는 부장님을 배신하고 자신의 왕국을 새우려 한다. 그의 계획을 저지하고, 손상된 파일을 복구하라!
                </div>
            </a>

        </div>
    </div>

</body>

</html>