<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    
    <div class="paper">
        <div class="float-left">
            <img class="icon" src="/images/network.svg" alt="network">
        </div>
        <div class="welcome">
            <spas class="welcome-font-big">
                < 잠입작전 > &nbsp; <span class="welcome-font-middle"><b>100</b></span>
            </spas>
        </div>
        <div class="paper-in">
            <p>
                친구가 학원에 가있는 틈을 타 친구네 집에 원격접속 설정을 해둬서 친구를 골려 주려는 계획을 가지고 친구네 집에 잠입한 성윤이는 친구네 집 컴퓨터의 OS가 Ubuntu인 것을 보고 당황하고 말았다.<br>
                빠르게 원격접속 설정을 하지 않으면 친구가 돌아오고 만다!<br>
                TigerVNC를 이용하여 원격접속을 하려는 성윤이는 급한 나머지 그만 설치 명령어를 기억해내지 못하고 있다.<br>
                <br>
                TigerVNC 설치 명령어를 알려줘서 성윤이를 도와라<br>
                <br>
                
                (주의 : 답칸에는 영문의 소문자로만, 띄어쓰기는 언더바(_)로 써주시기 바랍니다.)
            </p>

            <form action="/problem/send/infiltration" method="post">
                <input class="flag-input" name="answer" type="text" placeholder="answer" minlength="1" maxlength="500">
                <input class="flag-submit" type="submit">
            </form>
        </div>
    </div>

</body>
</html>
