<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>문제입력</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
</head>
<body>
<form action = "/InsertP" method="post">
    title<br>
    <input name="title" type="text"><br>
    answer<br>
    <input name="answer" type="text"><br>
    score<br>
    <input name="score" type="number"><br>
    flag<br>
    <input name="flag" type="text"><br>
    pnumber<br>
    <input name="pnumber" type="number"><br>
    <input type="submit">
</form>
</body>
</html>