<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    
    <div class="paper">
        <div class="float-left">
            <img class="icon" src="/images/etc.svg" alt="etc">
        </div>
        <div class="welcome">
            <spas class="welcome-font-big">
                < JS제국 > &nbsp; <span class="welcome-font-middle"><b>점수</b></span>
            </spas>
        </div>
        <div class="paper-in">
            <p>
                이유진은 동아리실 컴퓨터에 피라미드 모양으로 별을 찍는 C프로그램을 짜서 압축해놓았다.<br>
                지나가던 자바스크립트 덕후 장성윤은 동아리실에 있는 C언어를 차마 눈 뜨고 볼 수가 없어<br>
                동아리 내 C언어 사용자를 제거하고 JS제국을 세우기 위해 압축파일을 손상시켰다!<br>
                절망에 빠진 이유진은 압축파일을 복원시키려고 한다.<br>
                <br>
                압축파일을 복원하고 프로그램을 실행시켰을 때 별을 제외하고 출력되는 문장을 찾아보자.<br>
                <br>
            </p>
            <a class="download" href="/file/js-empire.pcapng" download >JS제국 다운로드</a>
            <br>
            <a class="download" href="/file/c_love_.zip" download >손상된 압축파일 다운로드</a>
            <br><br>
            <form action="/problem/send/js-empire" method="post">
                <input class="flag-input" name="answer" type="text" placeholder="answer" minlength="1" maxlength="500">
                <input class="flag-submit" type="submit">
            </form>
        </div>
    </div>

</body>
</html>