<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    
    <div class="paper">
        <div class="float-left">
            <img class="icon" src="/images/network.svg" alt="network">
        </div>
        <div class="welcome">
            <spas class="welcome-font-big">
                < 메시지 정신지배 > &nbsp; <span class="welcome-font-middle"><b>300</b></span>
            </spas>
        </div>
        <div class="paper-in">
            <p>
                PPTP를 이용한 VPN 접속 중 송신 측에서 연결 유지를 위해 보내는 패킷을 발견하였다.<br>
                이에 대한 응답으로 사용되는 패킷의 제어 메시지 유형 필드의 값은?<br>
                <br>
            </p>

            <form action="/problem/send/message-mind-controls" method="post">
                <input class="flag-input" name="answer" type="text" placeholder="answer" minlength="1" maxlength="500">
                <input class="flag-submit" type="submit">
            </form>
        </div>
    </div>

</body>
</html>
