<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    
    <div class="paper">
        <div class="float-left">
            <img class="icon" src="/images/server.svg" alt="server">
        </div>
        <div class="welcome">
            <spas class="welcome-font-big">
                < 감시자 > &nbsp; <span class="welcome-font-middle"><b>100</b></span>
            </spas>
        </div>
        <div class="paper-in">
            <p>
                팀로그 차기 부장 성윤이는 수업 시간에 딴짓하는 학생들을 잡아내기 위해 현재 팀로그 전용 리눅스 시스템에 로그인해 있는 모든 사용자를 확인하려고 한다.<br>
                이때 성윤이가 사용할 명령어는?<br>
                <br>
                
                (주의 : 답칸에는 영문의 소문자로만, 띄어쓰기는 언더바(_)로 써주시기 바랍니다.)<br>
            </p>

            <form action="/problem/send/observer" method="post">
                <input class="flag-input" name="answer" type="text" placeholder="answer" minlength="1" maxlength="500">
                <input class="flag-submit" type="submit">
            </form>
        </div>
    </div>

</body>
</html>
