<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<!-- 아이언맨의 왼팔을 뭐라고할까? -->
<!-- (토니)스타크레프트 -->

<body>
<div class="header">
        <img class="logo" src="/images/logo.png">
        <div class="nav">
            <div class="nav-item">
                <a href="/">
                    메인
                </a>
            </div>
            <div class="nav-item">
                <a href="/notice">
                    공지
                </a>
            </div>
<!-- 
            <div class="nav-item">
                <a href="/challenge-middle">
                    문제
                </a>
            </div>
-->
            <div class="nav-item">
                <a href="/ranking/high">
                    고등부 순위
                </a>
            </div>
            <div class="nav-item">
                <a href="/ranking/middle">
                    중등부 순위
                </a>
            </div>
        </div>
    </div>


    <div id="ranking">
        <div class="welcome">
            <span class="welcome-font-big">
                순위
                <br>
            </span>
            <br/>
        </div>

        <table>
            <tr>
                <th class="rank-rank">순위</th>
                <th class="rank-nickname">닉네임</th>
                <th class="rank-affiliation">소속</th>
                <th class="rank-score">점수</th>
            </tr>

            <% for (var i = 0; i < users.length; i++) { %>   <!-- 플레이어 -->
                <tr>
                    <td><%= i+1%></td>    <!-- 플레이어[i].랭킹 -->
                    <td><%= users[i].nickname %></td>    <!-- 플레이어[i].닉네임 -->
                    <td><%= users[i].school %></td>    <!-- 플레이어[i].소속 -->
                    <td><%= users[i].score %></td>    <!-- 플레이어[i].점수 -->
                </tr>
            <% } %>
        </table>
    </div>

</body>

</html>