<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>


<body>
<div class="main">
    <div class="container-out">
        <div class="container-in">
            <div class="welcome">
                    <span class="welcome-font">
                        정답입니다!
                        <br>
                    </span>
                <br/>
                <spas class="welcome-font-middle">
                    정답입니다! 당신의 점수가 오른것을 확인하세요!<br>
                </spas>
                <div class="nav-item float-none button-return">
                    <div class="container-out">
                        <div class="container-in">
                            <a href="/challenge-middle">
                                돌아가기
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>