<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<!-- 코가 현재진행형이면? -->
<!-- coding -->

<body>
    <div class="header">
        <img class="logo" src="/images/logo.png">
        <div class="nav">
            <div class="nav-item">
                <a href="/">
                    메인
                </a>
            </div>
            <div class="nav-item">
                <a href="/notice">
                    공지
                </a>
            </div>
            <div class="nav-item">
                <a href="/challenge-middle">
                    문제
                </a>
            </div>
            <div class="nav-item">
                <a href="/ranking/high">
                    고등부 순위
                </a>
            </div>
            <div class="nav-item">
                <a href="/ranking/middle">
                    중등부 순위
                </a>
            </div>
        </div>
    </div>


    <div class="main">
        <div class="container-out">
            <div class="container-in">
                <div class="welcome">
                    <span class="welcome-font">
                        <b>LOGCON</b>
                        <br>
                    </span>
                    <br/>
                    <spas class="welcome-font-middle">
                        로그콘에 오신것을 환영합니다!
                    </spas>
                </div>
            </div>
        </div>
    </div>


    <div class="forms">
        <div class="tabs">
            <div class="tab-item">
                <div class="container-out">
                    <div class="container-in">
                        Hello, Player!
                    </div>
                </div>
            </div>
            <form id="logout" action="/logout" method="post">
                <div id="cursor-default" class="tab-item disabled">
                    <div class="container-out">
                        <div class="container-in">
                            <input class="no-button" type="submit" value="Log-out">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <form id="log-in">
            <div class="gather">
                <div class="container-out">
                    <div class="container-in">
                        Your name : <%= nickname %><br><br>  <!-- 플레이어.이름 -->
                        Score : <%= score %>  <!-- 플레이어.점수 -->
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container-out">
                    <div class="container-in">
                            Copyright@TeamLog
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>

</html>