<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    
    <div class="paper">
        <div class="float-left">
            <img class="icon" src="/images/server.svg" alt="server">
        </div>
        <div class="welcome">
            <spas class="welcome-font-big">
                < 손을 보는 성윤 > &nbsp; <span class="welcome-font-middle"><b>점수</b></span>
            </spas>
        </div>
        <div class="paper-in">
            <p>
                성윤이는 자신이 속한 동아리인 팀 로고에서 리눅스 서버를 진행한다는 들었다.<br>
                하지만 성윤이는 리눅스 수업을 원치 않아서 동아리원들이 아무도 없는 때에 미리 세팅된 부장님 컴퓨터의 '모든 프로세스를 종료'시키려고 한다.<br>
                <br>
                이때 성윤이가 입력해야 하는 명령어는?<br>
                
                <br>
                
                (주의 : 답칸에는 영문의 소문자로만, 띄어쓰기는 언더바(_)로 써주시기 바랍니다.)
            </p>

            <form action="/problem/send/son-bom" method="post">
                <input class="flag-input" name="answer" type="text" placeholder="answer" minlength="1" maxlength="500">
                <input class="flag-submit" type="submit">
            </form>
        </div>
    </div>

</body>
</html>