<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>


<body>
<div class="main">
    <div class="container-out">
        <div class="container-in">
            <div class="welcome">
                    <span class="welcome-font">
                        <b>LOGCON</b>
                        <br>
                    </span>
                <br/>
                <spas class="welcome-font-middle">
                    가입이 완료 되었습니다!
                </spas>
            </div>
        </div>
    </div>
</div>
</body>
</html>