<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="javascripts/main.js"></script>
    <title>로그콘</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>
<body>
<div class="main">
    <div class="container-out">
        <div class="container-in">
            <div class="welcome">
                    <span class="welcome-font">
                        <b>LOGCON</b>
                        <br>
                    </span>
                <br/>
                <spas class="welcome-font-middle">
                    이메일을 확인해 주세요!
                    <form action="/verification" method = "post">
                        <input name="URL" type="text">
                        <input type="submit" placeholder="인증">
                    </form>
                </spas>
            </div>
        </div>
    </div>
</div>
</body>
</html>