<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../public/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="../public/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css" />
</head>
<body>
    
    <div class="paper">
        <div class="float-left">
            <img class="icon" src="images/server.svg" alt="server">
        </div>
        <div class="welcome">
            <spas class="welcome-font-middle">
                로그콘에 오신것을 환영합니다!
            </spas>
        </div>
    </div>

</body>
</html>