<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/main.js"></script>
    <title>LOGCON</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    
    <div class="paper">
        <div class="float-left">
            <img class="icon" src="/images/network.svg" alt="network">
        </div>
        <div class="welcome">
            <spas class="welcome-font-big">
                < 야한사진 > &nbsp; <span class="welcome-font-middle"><b>점수</b></span>
            </spas>
        </div>
        <div class="paper-in">
            <p>
                팀로그 부장 이유진이 동아리 수업을 일찍 끝내버리고 아무도 없는 실습실에서 야한 사진을 보고 동아리 서버에 저장했다는 은밀한 제보가 들어왔다!<br>
                <br>
                팀로그 2018년 차기 부장 장성윤은 빨리 부장이 되고 싶기 때문에 그 야한 사진을 찾아내어 그걸 빌미로 이유진을 끌어내림과 동시에 <span class="red"><b>자신의 쾌락을 채우는</b></span> 일석이조의 효과를 기대하고 있다.<br>
                <br>
                야한 사진을 찾아보자.<br>
                <br>
            </p>
            <a class="download" href="/zizzy-photo.pcapng" download >야한사진 다운로드</a>
        </div>
    </div>

</body>
</html>